@import "tailwindcss";
@import "./ui-kit/themes/theme.css";

@font-face {
  font-family: "General Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("General Sans Regular"), local("GeneralSans-Regular");
}

@font-face {
  font-family: "General Sans";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("General Sans Medium"), local("GeneralSans-Medium");
}

@font-face {
  font-family: "General Sans";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local("General Sans Semibold"), local("GeneralSans-Semibold");
}

@theme {
  --font-sans: "General Sans", ui-sans-serif, system-ui, sans-serif;

  --color-accent: #00b17e;
  --color-accent-hover: #00c98f;
  --color-accent-red: rgba(236, 45, 83, 1);
  --color-accent-red-hover: rgba(236, 45, 83, 0.7);

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 10px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-full: 24px;
}

body {
  margin: 0;
}
